<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>JWorks Kubernetes Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body style="padding-top:50px; background-color: #F5F6F7;">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <img src="http://ordina-jworks.github.io/img/jworks/jworks-400x400.png" th:width="200px" th:height="200px"/>
        </div>
    </div>
</div>

<!-- Body -->
<div class="container">
    <h1 th:if="${@environment.getProperty('WELCOME_NAME') != null}" th:text="${'Hello, ' + @environment.getProperty('WELCOME_NAME')}"></h1>

    <h1>JWorks TODO List</h1>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>TODO</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="todo,i : *{todoList}" th:class="warning" >
            <td th:text="${todo.name}">Item_name</td>
        </tr>
        </tbody>
    </table>
    <hr/>

    <form class="form-horizontal" role="form" th:action="@{__${basePath}__/add}" th:object="${newTodo}" method="POST">
        <div class="form-group">
            <label for="inputItemName" class="col-sm-2">Task Name</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{name}" class="form-control" id="inputItemName" placeholder="Enter name"/>
            </div>
        </div>
        <button type="submit" class="btn" style="background-color: #E68308;">Add Task</button>
    </form>

</div>

<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
